﻿@model TruePotentialDevTest.Models.Login
@{
    ViewBag.Title = "Login";
    ViewBag.Header = "Login";
}

<div class="centercontent">
    <h2>Login</h2>
    <p>Please login with your credentials here!</p>
</div>

<div class="userform-holder">
    @using (Html.BeginForm())
    {
        <fieldset>
            <div class="form-group">
                <div class="control-label">
                    @Html.LabelFor(model => Model.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => Model.Email, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label">
                    @Html.LabelFor(model => Model.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => Model.Password, new { @class = "form-control" })
                </div>
            </div>

            <input id="loginsubmit" type="submit" value="Login" class="btn btn-default userform-submit"/>
        </fieldset>
    }
</div>

